<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jerome Paddick</title>
</head>
<style>

    .mountain{
        height:100vh;
        position: relative;
        padding: 0px 0px;
        }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:100vh;
        position: relative;
        }

    body {background-colour: white;}

</style>

<body>

        {% load static %}
    <div class="mountain">
        <img src="{% static 'Low-Poly.jpg' %}" alt="My image">
    </div>

{% include 'banner.html' %}

</body>
</html>